name: Create a comment on new issues

on: 
  issues: 
    types: [opened]

jobs:
  action-comment:
    runs-on: ubuntu-latest
    steps:
      - name: print github context
        run: echo '${{ toJSON(github.event) }}'
        shell: bash
      - name: Create comment
        uses: peter-evans/create-or-update-comment@v4
        with:
          issue-number: ${{github.event.issue.number}}
          body: |    
            This is a multi-line test comment
            - With GitHub **Markdown** :sparkles:
            - Created by [create-or-update-comment][1]

            [1]: https://github.com/peter-evans/create-or-update-comment
          reactions: '+1'
          
  api-comment:
      runs-on: ubuntu-latest
      steps: 
        - name: Create comment using GH API
          run: |
            gh api \
              --method POST \
              -H "Accept: application/vnd.github+json" \
              -H "X-GitHub-Api-Version: 2022-11-28" \
              /repos/${OWNER}/${REPO}/issues/${ISSUE_NUM}/comments \
              -f body='This comment was generated using the GitHub API'
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} 
            OWNER: ${{ github.event.user.login }}
            REPO: ${{ github.event.repository.name }}
            ISSUE_NUM: ${{ github.event.issue.number }}
          
        
